# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#folders
bin/
CMakeFiles/

CMakeCache.txt
cmake_install.cmake
gmon.out

*.tar.gz
